.blog,
.page-template-about-page,
.page-id-30 {
  .content-area  {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
    padding-bottom: 10vh;
    padding-top: 50px;
    max-width: 1120px;
    grid-gap: 50px;
    width: 90%;
  }

  
.find-us {
  input {
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
  }

  input[type='submit'] {
    color: white;
    background: #248a83;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    box-shadow: none;
    font-family: Novecento Sans Web,sans-serif;
  
  }
  textarea {
    background-color: #f4f4f4;
  }
}
.find-us-page {
  figure {
    margin: 0;
  }
}
}
.info{
  font-size: 1.1rem;
  margin-bottom: .5rem; 
  text-transform: uppercase;
}
.widget-area{
  padding-left: 40px;
  border-left: 1px solid #f4f4f4;
  ul{
    padding-left: 0px;
    list-style: none;
    margin-left: 0px;
  }
}