.site-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  min-height: 250px;
  background-image: url('../../Images/dark-wood.png');

  .logo {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    img {
      width: 80%;
    }
  }

.container {
  padding: 70px;
}
h3 {
  margin: 0;
  text-transform: uppercase;
  color: #d99054;
  letter-spacing: 2px;
}
p {
  color: #fff;
  svg {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 50px;

  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}
.business-hours {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  
  p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
}
.copy-right {
  grid-column: 1 / 4;
  grid-row: 2;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 20px;

}
}