.home-page-image {
  background-image: url(../../images/inhabitent-logo-full.svg),
    url(../../images/home-hero.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center, center;
  height: 700px;
}

.home {
  .entry-header {
    position: relative;
  }

  .entry-title {
    position: absolute;
    top: 0;
  }

  .product-types-container {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .product-type-item {
      border: 1px solid #e1e1e1;
      border-top-width: 5px;
      flex: 1 0 20%;

      .homebutton {
        padding: 0.75rem 1.5rem;
        background: #248a83;
        text-transform: uppercase;
        color: white;
      }

      img {
        width: 50px;
      }
    }
  }
}
