.tent-logo {
  height: 3em;
  width: 3rem;
}
.site-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  
  .search-sumbit {
    background: transparent;
    box-shadow: none;
    border: none;
    color: white;
    float: left;
    &:hover{
      color: $color__link;
    }
  }
  .main-navigation {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: flex-end;
    border-bottom: 1px solid #f4f4f4;
  
    .menu-main-nav-container {
      padding-top: 10px;
      li {
        padding: 5px;
      }
    }
  }
}
.site-branding {
  display: none;
}
header {
  a{
    color:white;
  }
  button {
    background: transparent;
    box-shadow: none;
    border: none;
    color: white;
    &:hover {
      box-shadow: none;
    }
    &:focus {
      outline: none;
    }
  }
}
