.tent-logo {
  height: 3em;
  width: 3rem;
}
.site-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  .search-sumbit {
    float: left;
  }
  .main-navigation {
    display: flex;
    flex-direction: row;
    
    .menu-main-nav-container {
      padding-top:10px ;
      li {
        padding: 5px;
      }
    }
    // fieldset {
    //   display: flex;
    //   flex-direction: row-reverse;
    // }
  }
}
.site-branding {
  display: none;
}
