.journal-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 0 auto;
  padding-bottom: 10vh;
  padding-top: 50px;
  max-width: 1120px;
  grid-gap: 50px;
  width: 90%;

  .entry-header {
    position: relative;
    a {
      color: white;
      background-color: $color_title_bg;
      text-transform: uppercase;
      
    }
  
  }

  .entry-title {
    position: absolute;
    top: 0;
    display: block;
    width: 80%;
    padding: 10px;
    max-width: 75%;
    font-size: 2rem;
    background-color:  $color_title_bg;
  }
  .entry-meta {
    position: absolute;
    right: 60px;
    bottom: 7px;
    color: white;
    background-color: $color_title_bg;
    padding: 7px 20px;
    font-size: 16px;
  }
  
}

.type-post {
  margin-top: 50px;
}

.journal-readmore-button{
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1.75rem;
  
 
}
