.journal-page {
// .single-post,
// .type-post {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;

  .entry-header {
    position: relative;
    max-width: 700px;
    a {
      color: white;
      background-color: $color_title_bg;
      text-transform: uppercase;
      padding: 10px 20px;
    }
  }

  .entry-title {
    position: absolute;
    top: 0;
  }
  .entry-meta {
    position: absolute;
    right: 60px;
    bottom: 7px;
    color: white;
    background-color: $color_title_bg;
    padding: 7px 20px;
    font-size: 16px;
  }
.entry-content {
  margin-right: 55vh;
  
}

.type-post {
  margin-top: 50px;
}

}
.journal-readmore-button{
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1.75rem;
  
 
}
