.search-results{
    color:black;
   
    .search-readmore-button{
        border: 1px solid black;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem 1.75rem;
        font-size: .9rem;
        font-family: Novecento Sans Web,sans-serif;
        cursor: pointer;
        
        .entry-title{
            h2{
                font-weight: bold;
                h1{
                    padding-top: 3rem;
                    padding-bottom: 3rem;
           }
         }
        }
      }
a {
    color: #248a83;
    letter-spacing: 2px;
    text-transform: uppercase;
    }
}  
