.product-icons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    border: 1px solid #e1e1e1;
}
//     img{
//         height: 100px;
    
// }