// .product-icons {
//   display: grid;
//   grid-template-columns: 25% 25% 25% 25%;
//   grid-template-rows: 25% 25% 25% 25%;
//   border: 1px solid #e1e1e1;
// }

  // .image-wrapper {
  //   overflow: hidden;
  //   position: relative;

  //   img {
  //     width:25%
  //   }
  .image-wrapper{
  color:black;
}
.product-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  article{
    width: 25%;
    img{
      height: 260px;
      object-fit: cover;
      width:100%;
    }
  }
}
.product-type-blocks{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  .product-type-block-wrapper {
    padding: 0 15px;
  }
  
}
.product-info-container{
  text-align: center;
  padding-top: 36px;
  
}
.image-wrapper{
  padding-top: 20px;
  dl { width: 100% }
  p { float: left; width: 70%; overflow: hidden; white-space: nowrap }
  dd {padding-top: 16px;}
  
  
  p:after { content: " .................................................................................." }
}
