.content-single-product{

    .site-main{
      
        display: flex;
        justify-content: space-between;
        margin: 0 0 4.5rem;
    }
    
    img{
        margin-top: 100px;
     height: auto;
    width: 50%;
    object-fit: cover;
    margin-right: 36px;
    margin-left: 10%;
    }
    article{
        margin-top: 100px;
        margin-left: 36px;
        margin-right: 16%;
    }
    .shop-button{
        line-height: 1;
        padding: .75rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}
h3{
    color: #d99054;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.4rem;
}
        
