/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
.phone {
	color:#248a83;
	font-family: Merriweather Web,serif;
}
.info-email {
	color:#248a83;
	font-family: Merriweather Web,serif;
}
.address {
	font-family: Merriweather Web,serif;
	line-height: 1.75;
	color: #404040;
}
h2{
	font-family: Novecento Sans Web,sans-serif;
	
}
.day-of-week{
	font-family: Merriweather Web,serif;
}
p{
	font-family: Merriweather Web,serif
}